## Example notebook

Notebooks should be placed in the *working* directory.

### Helper modules

The local `helpers` package is installed in the virtual environment and can be imported in to a notebook.

The `helpers` package is intended to be a collection of functions and classes that are useful for the project.

In [1]:
import helpers

print(helpers.__version__)

0.1

### Local data

Local data files can be placed in the *working* directory and loaded into a notebook.

In [2]:
import pandas as pd

df = pd.read_csv("data/contries.csv", index_col=0)
display(df)

        country
id
1   new zealand
2         egypt
3         india